<ion-card *ngIf="!geolocation" (click)="openBathroom(location)">
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-label class="ion-text-wrap">{{location.data().address}}</ion-label>
        <ion-icon *ngIf="loggedIn" slot="end" name="bookmark" [color]="favourited ? 'danger' : 'medium'" (click)="toggleFavourite($event)"></ion-icon>      </ion-item>
      <ion-item hidden>
        <app-stars [rating]="location.data().rating"></app-stars> <br>
      </ion-item>
      <ion-item>
        <app-timing-chip [timing]="location.data().timing[day]" slot="end"></app-timing-chip>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="geolocation" (click)="openBathroom(location)">
  <ion-card-content>
    <ion-list lines="none">
      <ion-item>
        <ion-label>{{location.data.data().d.address}}</ion-label>
        <ion-icon *ngIf="loggedIn" slot="end" name="bookmark" color="danger" (click)="toggleFavourite($event)"></ion-icon>
      </ion-item>
      <ion-item hidden>
        <app-stars [rating]="location.data.data().d.rating"></app-stars>
      </ion-item>
      <ion-item>
        <app-timing-chip [timing]="location.data.data().d.timing[day]" slot="end"></app-timing-chip>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>